<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SerialPlotter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <SerialPlotter.Properties.Settings>
            <setting name="WindowLocation" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="settingBaudrate" serializeAs="String">
                <value />
            </setting>
            <setting name="settingLoggingWithTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="settingPlotTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="settingPlotMarker" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="settingBufferFullScale" serializeAs="String">
                <value>True</value>
            </setting>
        </SerialPlotter.Properties.Settings>
    </userSettings>
</configuration>
